p {
    line-height: 27px ;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 0;
}

.about-place-bg{
    width: 100%;
    height: 577px;
    background-color:#F9E6F0;
}


.about-place {
    display: flex;
    justify-content: space-evenly;
    padding-top: 140px;
}

.about-left-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-place-center{
    display: flex;
    gap: 78px;
    align-items: center;
}

.about-right-content {
    padding-top: 20px;
}

.about-body-text h2{
    width: 640px;
    height: 180px;
    overflow: none;
    line-height:36px;
    font-weight: 500;
    font-size: 24px;
}

.about-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 120px;
    gap: 60px;
}

.about-green-bg {
    background-color: #009379;
    color: #F6DCE9;
    width: 640px;
    height: 36px;
    overflow: none;
}

.about-green-bg p{
    padding: 5px 0px;
}

.about-border-line {
    width: 80%;
    padding-top: 120px;
    border-bottom: 1px solid black;
    align-items: center;
    margin:auto;
    opacity: 20%;
}

